<!DOCTYPE HTML>
<head>
  <title>
{{title}}
  </title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <div class="navbar">
    <ul class="navbar">
    <li class="navbar">Account</li>
    <li class="navbar">Orders</li>
    <li class="navbar">Products</li>
    <li class="navbar">Cart</li>
</ul>
  </div>
    {{{body}}}
</body>
</html>
